<%= form_tag("/search", method: :get, id:"search_form") do %>
  <select name="expertise" class="selectpicker" data-width:"100%" data-live-search="true">
    <option selected="selected" value="">Select type of service</option>
    <%= Worker.expertise_options.each do |option_pair| %>
      <option value=<%= option_pair[1] %> > <%= option_pair[0] %> </option> 
    <% end %>
  </select>
  <%= submit_tag "Find helper", class:"btn btn-success", id: 'find_helper_button' %>
<% end %>

