<% unless flash[:errors].nil? %>
  <% flash[:errors].each do |error| %>
    <p class="alert alert-danger"><b><%=h error %></b></p>
  <% end %>
<% end %>

<%= form_for(@worker) do |f| %>

  <div id="firstname" class="row">
    <%= label_tag :firstname, "Firstname: " %>
    <%= f.text_field :firstname %>
  </div>

  <div id="sirname" class="row">
    <%= label_tag :sirname, "Sirname: " %>
    <%= f.text_field :sirname %>
  </div>

  <div id="educational_background" class="row">
    <%= label_tag :educational_background, "Education: " %>
    <%= f.text_field :educational_background %>
  </div>

  <div id="work_background" class="row">
    <%= label_tag :work_background, "Work experience: " %>
    <%= f.text_field :work_background %>
  </div>

  <div id="age" class="row">
    <%= label_tag :age, "Age: " %>
    <%= f.number_field :age, min: 18, max: 80, step: 1 %>
  </div>

  <div id="native_city" class="row">
    <%= label_tag :native_city, "Native city: " %>
    <%= f.text_field :native_city %>
  </div>

  <div id="expertise" class="row">
    <%= label_tag :expertise, "Expertise: " %>
    <%= f.select(:expertise, generate_option_value_pairs(Worker.accepted_expertise), prompt: "------") %>
  </div>

  <hr>
  <div id="profile_picture" class="row">
    <%= label_tag :profile_picture, "Profile picture: " %>
    <div id="profile_picture_preview" class="picture_preview">
      <%= image_tag @worker.profile_picture.url(:thumb), class: "center", alt: "Upload worker's profile picture" unless @worker.nil? %> 
    </div>
    <%= f.file_field :profile_picture %>
  </div>

  <hr>
  <%= f.fields_for @worker.verification_document do |ff| %>
    <div id="verification_document_type" class="row">
      <%= label_tag :verification_document_type, "Verification document Type: " %>
      <%= ff.select(:document_type, generate_option_value_pairs(VerificationDocument.accepted_document_types), prompt: "------") %>
    </div>
    <br>
    <div id="document_picture" class="row">
      <%= label_tag :verification_document_picture, "Verification document picture: " %>
      <div id="verification_document_preview" class="picture_preview">
        <%= image_tag @worker.verification_document.picture.url(:medium), alt: "Upload copy of verification document", class: "center" unless @worker.nil? %>
      </div>
      <%= ff.file_field :picture %>
    </div>
  <% end %>

  <hr>
  <div id="contact_information" class="row"><b>Contact Information</b></div>

  <%= f.fields_for @worker.contact_information do |ff| %>
   
    <div id="line_1" class="row">
      <%= label_tag :line_1, "Line 1: " %>
      <%= ff.text_field :line_1 %>
    </div>

    <div id="line_2" class="row">
      <%= label_tag :line_2, "Line 2: " %>
      <%= ff.text_field :line_2 %>
    </div>

    <div id="pincode" class="row">
      <%= label_tag :pincode, "Pincode: " %>
      <%= ff.text_field :pincode %>
    </div>

    <div id="city" class="row">
      <%= label_tag :city, "City: " %>
      <%= ff.text_field :city %>
    </div>
    
    <div id="state" class="row">
      <%= label_tag :state, "State: " %>
      <%= ff.text_field :state %>
    </div>

    <div id="contact_number" class="row">
      <%= label_tag :contact_number, "Contact Number: " %>
      <%= ff.text_field :contact_number %>
    </div>

    <div id="email" class="row">
      <%= label_tag :email, "Email: " %>
      <%= ff.text_field :email %>
    </div>

  <% end %>

  <div id="create_button" class="row">
    <br>
    <%= f.submit :save, class: 'btn btn-lg btn-success' %>
  </div>
<% end %>
